#storage{
    background-color: rgb(173, 173, 173);
    height: 640px;
    width: 230px;
    position: absolute;
    left: 510px;
    top: 30px;
    border-left: 5px solid black;
}

button{
    height: 20px;
    width: 150px;
    background-color: white;
    border: 30% solid black;
    border-radius: 3px;
    position: absolute;
    left: 300px;
    top: 50px;
    outline: none;
}
button:active{
    background-color: rgb(226, 226, 226);
}
#ff{ top: 85px;}
#bf{ top: 120px;}

label{
    position: absolute;
    left: 320px;
    top: 600px;
    color: purple;
    font: 2.3em sans-serif;
}

.block{
    background-color: transparent;
    position: absolute;
    top: 0px;
    width: 230px;
    height: 640px;
}

div#dashboard{
    position: absolute;
    left: 830px;
    top: 100px;
    width: 350px;
    height: 500px;
    background-color: transparent;
    p{
        color: rgb(150, 150, 150);
        font: 0.9em;
    }
}